
@model List<Film>
@{
    ViewData["Title"] = "Bioskop-Film";
}

<h1 id="heading" class="display-2" style="text-align:center">Repertoar</h1>

<div class="slide hi-slide">
    <div class="hi-prev"></div>
    <div class="hi-next"></div>
    <ul>
        @foreach (Film f in Model)
        {

            <li>
                <a href='@Url.Action("Details", "Film", new { id=f.FilmId})'>
                    <img src="@f.PutanjaPostera" alt="/Film/Details/1" >
                </a>
            </li>
        }
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="~/js/jquery.hislide.js"></script>-
<script>
    var filmNum = @Model.Count;
    $('.slide').hiSlide();
</script>

