@model List<Sala>



@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                Naziv sale
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sala s in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => s.NazivSale)
                </td>

                <td>
                    @Html.ActionLink("Obrisi", "Delete", new { id = s.SalaId })
                </td>
            </tr>
        }
    </tbody>
</table>